{"openapi":"3.1.0","info":{"title":"Revenue Estimator API","version":"1.0.0"},"paths":{"/v1/revenue/estimator":{"get":{"operationId":"revenueEstimatorVersion1_getRevenueEstimateV1","summary":"Get Revenue, ADR, and Occupancy metrics for a location","description":"Either address or both lat and lng must be provided as location input.","tags":["revenueEstimatorVersion1"],"parameters":[{"name":"lat","in":"query","description":"Latitude of the property location. Accepted range is -90 to +90. Required if address is not provided.","required":false,"schema":{"type":"number","format":"double"}},{"name":"lng","in":"query","description":"Longitude of the property location. Accepted range is -180 to +180. Required if address is not provided.","required":false,"schema":{"type":"number","format":"double"}},{"name":"address","in":"query","description":"Full address of the property. Either address or both lat and lng must be provided.","required":false,"schema":{"type":"string"}},{"name":"currency","in":"query","description":"Currency code for the revenue estimates (e.g. USD, EUR, GBP, INR, AUD).","required":true,"schema":{"type":"string"}},{"name":"bedroom_category","in":"query","description":"Number of bedrooms for the property. Use 0 for studio.","required":true,"schema":{"type":"integer"}},{"name":"monthly","in":"query","description":"When set to true, the response includes a MonthlyBreakup object with month-by-month KPIs. Defaults to false.","required":false,"schema":{"type":"boolean"}},{"name":"X-API-Key","in":"header","description":"Your Revenue Estimator API key. This is different from the Customer API key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevenueEstimatorV1Response"}}}},"400":{"description":"In one of the following conditions:\n\n  1. Missing Location Parameters\n    Condition: Both lat/lng AND address are missing\n    \n  2. Missing Currency\n    Condition: currency parameter is blank\n    \n  3. Missing Bedroom Category\n    Condition: bedroom_category parameter is blank\n    \n  4. Invalid Address\n    Condition: Address provided cannot be geocoded\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"401":{"description":"Invalid API Key\n  Condition: When X_API_KEY header is invalid or missing\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"429":{"description":"Too many requests\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"500":{"description":"Internal server error. Please reach out to support@pricelabs.co","content":{"application/json":{"schema":{"description":"Any type"}}}},"502":{"description":"Please reach out to support@pricelabs.co","content":{"application/json":{"schema":{"description":"Any type"}}}}}}},"/v2/revenue/estimator":{"get":{"operationId":"revenueEstimatorVersion2_getRevenueEstimateV2","summary":"Get Revenue, ADR, and Occupancy metrics for a location","description":"Either address or both lat and lng must be provided as location input.","tags":["revenueEstimatorVersion2"],"parameters":[{"name":"lat","in":"query","description":"Latitude of the property location. Accepted range is -90 to +90. Required if address is not provided.","required":false,"schema":{"type":"number","format":"double"}},{"name":"lng","in":"query","description":"Longitude of the property location. Accepted range is -180 to +180. Required if address is not provided.","required":false,"schema":{"type":"number","format":"double"}},{"name":"address","in":"query","description":"Full address of the property. Either address or both lat and lng must be provided.","required":false,"schema":{"type":"string"}},{"name":"currency","in":"query","description":"Currency code for the revenue estimates (e.g. USD, EUR, GBP, INR, AUD).","required":true,"schema":{"type":"string"}},{"name":"bedroom_category","in":"query","description":"Number of bedrooms for the property. Use 0 for studio.","required":true,"schema":{"type":"integer"}},{"name":"monthly","in":"query","description":"When set to true, the response includes a MonthlyBreakup object with month-by-month KPIs. Defaults to false.","required":false,"schema":{"type":"boolean"}},{"name":"filters","in":"query","description":"A JSON string containing filter criteria to narrow comparable listings. Pass as a JSON string, not a JSON object. Supported keys:\n- **pool** (0 or 1) — Filter by pool availability\n- **hottub** (0 or 1) — Filter by hot tub availability\n- **ratings** ({\"gt\": n, \"lt\": n}) — Filter by listing ratings range\n- **review_count** ({\"gt\": n, \"lt\": n}) — Filter by review count range\n- **bathroom** ({\"gt\": n, \"lt\": n}) — Filter by number of bathrooms range\n- **max_guest** ({\"gt\": n, \"lt\": n}) — Filter by maximum guest capacity range\n\n**Example value (pass as a JSON string, not a JSON object):**\n```\n'{\"pool\": 0, \"hottub\": 1, \"ratings\": {\"gt\": 2, \"lt\": 5}, \"review_count\": {\"gt\": 5}, \"bathroom\": {\"gt\": 2}, \"max_guest\": {\"lt\": 4}}'\n```\n","required":false,"schema":{"type":"string"}},{"name":"X-API-Key","in":"header","description":"Your Revenue Estimator API key. This is different from the Customer API key.","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RevenueEstimatorV2Response"}}}},"400":{"description":"In one of the following conditions:\n\n  1. Missing Location Parameters\n    Condition: Both lat/lng AND address are missing\n    \n  2. Missing Currency\n    Condition: currency parameter is blank\n    \n  3. Missing Bedroom Category\n    Condition: bedroom_category parameter is blank\n    \n  4. Invalid Address\n    Condition: Address provided cannot be geocoded\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"401":{"description":"Invalid API Key\n  Condition: When X_API_KEY header is invalid or missing\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"429":{"description":"Too many requests\n","content":{"application/json":{"schema":{"description":"Any type"}}}},"500":{"description":"Internal server error. Please reach out to support@pricelabs.co","content":{"application/json":{"schema":{"description":"Any type"}}}},"502":{"description":"Please reach out to support@pricelabs.co","content":{"application/json":{"schema":{"description":"Any type"}}}}}}}},"tags":[{"name":"revenueEstimatorVersion1"},{"name":"revenueEstimatorVersion2"}],"servers":[{"url":"https://api.pricelabs.co","description":"https://api.pricelabs.co"}],"components":{"schemas":{"RevenueEstimatorV1ResponseKpIsByBedroomCategoryMonthlyBreakup":{"type":"object","properties":{"Revenue":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"ADRAvg":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"AvgOccupancy":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"NoOfListings":{"type":"object","additionalProperties":{"type":"integer"}}},"description":"Monthly breakdown of KPIs (Revenue, ADR, Occupancy, and Listing Count)\nfor this bedroom category.\n","title":"RevenueEstimatorV1ResponseKpIsByBedroomCategoryMonthlyBreakup"},"RevenueEstimatorV1ResponseKpIsByBedroomCategory":{"type":"object","properties":{"ADRAvg":{"type":"number","format":"double","description":"Average Daily Rate (ADR) across all listings in this category."},"ADR25Percentile":{"type":"number","format":"double","description":"25th percentile of ADR values for listings in this category."},"ADR75Percentile":{"type":"number","format":"double","description":"75th percentile of ADR values for listings in this category."},"Revenue":{"type":"number","format":"double","description":"Total revenue generated by listings in this category."},"AvgOccupancy":{"type":"number","format":"double","description":"Average occupancy percentage for this bedroom category."},"NoOfListings":{"type":"integer","description":"Total number of listings in this bedroom category."},"MonthlyBreakup":{"$ref":"#/components/schemas/RevenueEstimatorV1ResponseKpIsByBedroomCategoryMonthlyBreakup","description":"Monthly breakdown of KPIs (Revenue, ADR, Occupancy, and Listing Count)\nfor this bedroom category.\n"}},"title":"RevenueEstimatorV1ResponseKpIsByBedroomCategory"},"RevenueEstimatorV1Response":{"type":"object","properties":{"KPIsByBedroomCategory":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/RevenueEstimatorV1ResponseKpIsByBedroomCategory"},"description":"Key Performance Indicators grouped by bedroom category.\nReturns data for n-1, n, and n+1 bedroom categories, where n is the requested `bedroom_category`.\n"}},"title":"RevenueEstimatorV1Response"},"RevenueEstimatorV2ResponseKpIsByBedroomCategoryMonthlyBreakup":{"type":"object","properties":{"Revenue25Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"Revenue50Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"Revenue75Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"Revenue90Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"ADR25Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"ADR50Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"ADR75Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"ADR90Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"AvgOccupancy":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"Occ25Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"Occ75Percentile":{"type":"object","additionalProperties":{"type":"number","format":"double"}},"NoListingUsed":{"type":"object","additionalProperties":{"type":"integer"}}},"description":"Monthly breakdown of all KPI metrics with percentile data.","title":"RevenueEstimatorV2ResponseKpIsByBedroomCategoryMonthlyBreakup"},"RevenueEstimatorV2ResponseKpIsByBedroomCategory":{"type":"object","properties":{"RevenueMonthlyAvg":{"type":"number","format":"double","description":"Average monthly revenue across all listings."},"Revenue25PercentileSum":{"type":"number","format":"double","description":"Sum of 25th percentile monthly revenue (lower range estimate)."},"Revenue50PercentileSum":{"type":"number","format":"double","description":"Sum of 50th percentile monthly revenue (median estimate)."},"Revenue75PercentileSum":{"type":"number","format":"double","description":"Sum of 75th percentile monthly revenue (upper range estimate)."},"Revenue90PercentileSum":{"type":"number","format":"double","description":"Sum of 90th percentile monthly revenue."},"ADR90PercentileAvg":{"type":"number","format":"double","description":"Average of 90th percentile ADR values."},"ADR75PercentileAvg":{"type":"number","format":"double","description":"Average of 75th percentile ADR values."},"ADR50PercentileAvg":{"type":"number","format":"double","description":"Average of 50th percentile ADR values (median)."},"ADR25PercentileAvg":{"type":"number","format":"double","description":"Average of 25th percentile ADR values."},"AvgAdjustedOccupancy":{"type":"number","format":"double","description":"Average adjusted occupancy percentage."},"NoOfListings":{"type":"integer","description":"Total number of listings considered."},"MonthlyBreakup":{"$ref":"#/components/schemas/RevenueEstimatorV2ResponseKpIsByBedroomCategoryMonthlyBreakup","description":"Monthly breakdown of all KPI metrics with percentile data."},"bedrooms_considered":{"type":"array","items":{"type":"string"},"description":"List of bedroom categories whose data was aggregated. For categories >= 5 with insufficient listings, this may include +/-1 categories."}},"title":"RevenueEstimatorV2ResponseKpIsByBedroomCategory"},"RevenueEstimatorV2Response":{"type":"object","properties":{"KPIsByBedroomCategory":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/RevenueEstimatorV2ResponseKpIsByBedroomCategory"},"description":"KPI metrics for the requested bedroom category.\nEach key represents the bedroom count passed in the `bedroom_category` parameter.\nFor bedroom categories >= 5, if there are not enough listings, data from +/-1 bedroom categories is aggregated. The `bedrooms_considered` field shows which categories were used.\n"}},"title":"RevenueEstimatorV2Response"}}}}